body,
main,
h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.5vw;
}

h1 {
    font-size: 3vw;
}

h2{
    font-size: 2.25vw;
}

header {
    position: relative;
    background-color: #247158;
    color: #E4D5C7;
    text-align: right;
    padding-right: 2.5vw;
    border-bottom-left-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
}

.header-background {
    position: absolute;
    left: -1vw;
    width: 102%;
    height: 5.5vw;
    background-color: #186049;
    z-index: -1;
    border-bottom-left-radius: 3.5vw;
    border-bottom-right-radius: 3.5vw;
}

.dropdown-btn {
    position: absolute;
    top: 0.4vw;
    left: 1.5vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-btn :hover {
    background-color: #186049;
    border-radius: 0.25vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #186049;
    min-width: 3vw;
    box-shadow: 0vw 0.8vw 1.6vw 0vw rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    transition: ease-in 0.5s ease-out;
    transform-origin: top;
    transform: scaleY(0);
}

.dropdown-content a {
    color: #E4D5C7;
    padding: 1vw 1.6vw;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    display: block;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.dropdown-content a:not(:last-child):hover {
    background-color: #185548;
    
}

.dropdown-content a:last-child:hover {
    background-color: #185548;
    border-bottom-left-radius: 1vw; 
    border-bottom-right-radius: 1vw;
}

.dropdown-content.show {
    display: block;
    transform: scaleY(1);
    opacity: 1;
}

main {
    top: 4vw;
    bottom: 0;
    left: 0;
    height: 30w;
    background-color: #FFFFFF;
    overflow-y: auto;
    position: relative;
    padding: 20px;
}

.message-box {
    width: 70%;
    height: auto;
    max-width: 50%;
    margin: 20px auto;
    margin-top: -10px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 99;
    text-align: center;
}

.message-box h2{
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: -20px;
}

.message-box p {
    font-weight: bold;
}

.message-box p a{
    font-weight: normal;
    color: #95877A;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"]{
    flex: 1;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2em;
    width: 100%;
}

.contact-form textarea{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 5vw;
    font-size: 2.5em;
    width: 100%;
}

.contact-form button {
    padding: 30px 20px;
    background-color: #247158;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.5em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 30%;
}

footer {
    position: absolute;
    top: 100%;
    left: -0.5vw;
    width: 101%;
    height: 15%;
    background-color: #95877A;
    z-index: 1;
    padding-top: 0.75vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}

.footer-background {
    position: absolute;
    left: 0.5vw;
    width: 99%;
    height: 100%;
    background-color: #E4D5C7;
    z-index: -1;
    border-top-left-radius: 2.75vw;
    border-top-right-radius: 2.75vw;
}

.gmail,
.linkedin,
.github {
    background-color: #186049;
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}

.gmail {
    left: 40%;
}

.linkedin {
    left: 50%;
}

.github {
    left: 60%;
}

.gmail-logo,
.linkedin-logo,
.github-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    object-fit: contain; 
    opacity: 40%;
    z-index: 1;
}

.linkedin-logo{
    height: 90%;
    width: 80%;
    left: 51%;
}

.gmail-background,
.linkedin-background,
.github-background {
    background-color: #247158;
    width: 5.75vw;
    height: 5.75vw;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gmail a,
.linkedin a,
.github a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.copyright,
.contact {
    color: #95877A;
    font-size: 1.25vw;
    position: absolute;
    top: 55%;
    transform: translateX(-50%, -50%);
}

.copyright {
    left: 5%;
}

.contact {
    right: 5%;
}
