/* General Reset */
body,
main,
h1,
h2,
p,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #f1f5f9;
}

/* Link Styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Typography Styles */
h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.25vw;
}

p {
    font-size: 1.5vw;
}

/* Custom Scrollbar for Webkit Browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #247158;
    border-radius: 10px;
    border: 3px solid #f7f7f7;
}

::-webkit-scrollbar-thumb:hover {
    background: #186049;
}

/* Header Styles */
header {
    position: relative;
    background-color: #247158;
    color: #f7f7f7;
    text-align: right;
    padding-right: 2.5vw;
    border-bottom-left-radius: 2.5vw;
    border-bottom-right-radius: 2.5vw;
}

.header-background {
    position: absolute;
    left: -1vw;
    width: 102%;
    height: 5.5vw;
    background-color: #186049;
    z-index: -1;
    border-bottom-left-radius: 3.5vw;
    border-bottom-right-radius: 3.5vw;
}

/* Dropdown Button Styles */
.dropdown-btn {
    position: absolute;
    top: 0;
    left: 2vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropdown-btn img {
    width: 6vw;
    height: auto;
}

.dropdown-btn:hover {
    background-color: #186049;
    border-radius: 0.5vw;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #186049;
    min-width: 3vw;
    box-shadow: 0 0.8vw 1.6vw 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    height: 0;
    overflow: hidden;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
}

.dropdown-content a {
    color: #f7f7f7;
    padding: 1vw 1.6vw;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    display: block;
}

.dropdown-content a:hover {
    background-color: #14503d;
}

.dropdown-content.show {
    opacity: 1;
    height: auto;
    transform: scaleY(1);
}

/* Main Styles */
main {
    background-color: #f1f5f9;
    z-index: -2;
    overflow-y: auto;
    padding: 1.6vw;
    margin-top: 1vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

.content {
    max-width: 90%;
    margin: 0 auto;
    padding: 1.6vw;
    padding-top: 1vw;
}

main h1 {
    text-align: left;
    color: #000;
    line-height: 1;
}

main h2 {
    text-align: left;
    color: #535353;
    line-height: 1;
    margin-top: 0.5vw;
}

main p {
    text-align: left;
    color: #535353;
    line-height: 1.35;
    margin-top: 1.6vw;
}

.resume-container {
    text-align: center;
    margin-top: 2.5vw;
}

.resume {
    display: inline-block;
    padding: 0.5vw 1vw;
    font-size: 1.75vw;
    color: white;
    background-color: #0073e6;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.resume:hover {
    background-color: #005bb5;
}

/* Footer Styles */
footer {
    position: absolute;
    top: 140%;
    left: -0.5vw;
    width: 101%;
    height: 15%;
    background-color: #707070;
    z-index: 1;
    padding-top: 0.75vw;
    margin-top: 1vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}

.footer-background {
    position: absolute;
    left: 0.5vw;
    width: 99%;
    height: 100%;
    background-color: #ffe8dc;
    z-index: -1;
    border-top-left-radius: 2.75vw;
    border-top-right-radius: 2.75vw;
}

/* Social Icon Styles */
.gmail,
.linkedin,
.github {
    background-color: #186049;
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    transition: filter 0.3s ease;
}

.gmail:hover,
.linkedin:hover,
.github:hover {
    filter: brightness(90%);
}

.gmail {
    left: 40%;
}

.linkedin {
    left: 50%;
}

.github {
    left: 60%;
}

.gmail-logo,
.linkedin-logo,
.github-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    object-fit: contain;
    opacity: 0.4;
    z-index: 1;
}

.linkedin-logo {
    height: 90%;
    width: 80%;
    left: 51%;
}

.gmail-background,
.linkedin-background,
.github-background {
    background-color: #247158;
    width: 5.75vw;
    height: 5.75vw;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gmail a,
.linkedin a,
.github a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer Text Styles */
.copyright,
.contact {
    color: #707070;
    font-size: 1.25vw;
    position: absolute;
    top: 55%;
    transform: translateX(-50%);
}

.copyright {
    left: 15%;
}

.contact {
    right: 3%;
    transition: filter 0.3s ease;
}

.contact:hover{
    filter: brightness(70%);
}